/* General */

body {
  background: #fff;
  font-family:"Helvetica Neue", Arial, sans-serif;
  color: #111;
  line-height: 1.5;
  padding: 20px;
  font-size: 16px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
}

.weather__message {
  color: #e80b0b;
  text-align: center;
}

.link {
  color: #111;
}

.link:hover {
  color: #f58720;
}

.input-group {
  margin: 20px 0;
}

/* Weather Widget */

.weather-widget {
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .25);
  position: relative;
  width: 494px;
  height: 407px;
  margin: 50px auto 25px;
  overflow: hidden;
  text-align: center;
  background: #dfdfdf;
  background: linear-gradient(to bottom, #fff 8%, #eaeaea 100%);
}

.weather-widget__main {
  background: linear-gradient(to bottom, #2999C1, #A9E8F7);
  height: 80%;
}

.weather-widget__main .weather-icon {
  width: 290px;
  height: 230px;
  text-align: center;
  margin: 0 auto;
  display: block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.weather-widget__footer {
  border-top: 1px solid rgba(25, 25, 25, .15);
  height: 20%;
}

.weather-widget__location {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: bold;
  font-size: 28px;
  color: #296c81;
  text-align: center;
  margin-bottom: 80px;
}

.weather-widget__location b {
  color: #569cb3;
}

.weather-widget__data {
  color: #424242;
  font-size: 24px;
  font-family: 'Open Sans Condensed', sans-serif;
  position: relative;
  bottom: -20px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
}

.weather-widget__data b {
  text-transform: uppercase;
}

/* Table */

td, th {
  vertical-align: middle !important;
  text-align: center !important;
}

td:first-of-type {
  height: 200px;
  width: 250px;
  min-width: 250px;
}

td.error {
  height: auto;
}

/* Header */

.header {
  margin-bottom: 40px;
  font-size: 32px;
}

/* Footer */

.footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 22px;
  font-size: 12px;
  opacity: .5;
}
